@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.collection-card {
  overflow: hidden;
}
.collection-card:hover .side-action-buttons-container {
  opacity: 1;
  right: 10px;
}
.collection-card .side-action-buttons-container {
  opacity: 0;
  right: -40px;
  transition: all 0.3s ease;
}

.collection-card .add-to-card {
  opacity: 0;
  transition: all 0.3s ease;
  bottom: -50px;
}

.collection-card:hover .add-to-card {
  opacity: 1;
  bottom: 15px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
